body{
  max-width: 1536px;
  max-height: 864px;
  margin: 0 auto;
  background-image : url(image/form-bg.png);
}

img{
  width: 25%;
}

.main-wrapper{
  position: relative;
  height: 700px;
  margin: 0 auto;
}

#title{
  position: absolute;
  font-size: 30px;
  top: 400px;
  left: 600px;
  color: white;
  border-bottom: 2px solid white;
  width: 340px;
  text-align: center;
}

/*雲*/

#cloud{
  opacity: 0.8;
}

.kansou{
  width: 340px;
  height: 200px;
  display: table;
  border-spacing: 80px 60px;
}

.kansou p{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  color: #0f1f2e;
}

.name{
  width: 340px;
  height: 60px;
  display: table;
  border-spacing: 50px;
}

.name p{
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

#c1 .name{
  position: absolute;
  top: 140px;
  left: 40px;
}

#c1 img, #c1 .kansou{
  position: absolute;
  top: 40px;
  left: 40px;
}

#c2 .name{
  position: absolute;
  top: 400px;
  left: 80px;
}

#c2 img, #c2 .kansou{
  position: absolute;
  top: 300px;
  left: 100px;
}

#c3 .name{
  position: absolute;
  top: 670px;
  left: 10px;
}

#c3 img, #c3 .kansou{
  position: absolute;
  top: 570px;
  left: 30px;
}

#c4 .name{
  position: absolute;
  top: 180px;
  left: 390px;
}

#c4 img, #c4 .kansou{
  position: absolute;
  top: 80px;
  left: 410px;
}

#c5 .name{
  position: absolute;
  top: 600px;
  left: 400px;
}

#c5 img, #c5 .kansou{
  position: absolute;
  top: 500px;
  left: 400px;
}

#c6 .name{
  position: absolute;
  top: 110px;
  left: 780px;
}

#c6 img, #c6 .kansou{
  position: absolute;
  top: 10px;
  left: 780px;
}

#c7 .name{
  position: absolute;
  top: 700px;
  left: 760px;
}

#c7 img, #c7 .kansou{
  position: absolute;
  top: 600px;
  left: 780px;
}

#c8 .name{
  position: absolute;
  top: 190px;
  left: 1140px;
}

#c8 img, #c8 .kansou{
  position: absolute;
  top: 90px;
  left: 1160px;
}

#c9 .name{
  position: absolute;
  top: 420px;
  left: 960px;
}

#c9 img, #c9 .kansou{
  position: absolute;
  top: 320px;
  left: 980px;
}

#c10 .name{
  position: absolute;
  top: 650px;
  left: 1150px;
}

#c10 img, #c10 .kansou{
  position: absolute;
  top: 550px;
  left: 1150px;
}


/*アニメーション*/
.fuwafuwa1 p, .fuwafuwa2 p, .fuwafuwa3 p{
  animation-name: fuwafuwaAnime;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
}

@keyframes fuwafuwaAnime {
    0% {
        transform: translate(0,5px);
    }
    100% {
        transform: translate(0,-5px);
    }
}


.fuwafuwa1 img{
    animation-name: fuwafuwa1Anime;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.3s;
}

@keyframes fuwafuwa1Anime {
    0% {
        transform: translate(0,10px);
        opacity: 1;
        width: 23%;
    }
    25%{

    }
    100% {
        transform: translate(0,-10px);
        opacity: 0.9;
        width: 23.5%;
    }
}

.fuwafuwa2 img{
    animation-name: fuwafuwa2Anime;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
}

@keyframes fuwafuwa2Anime {
    0% {
        transform: translate(0,0px);
        opacity: 1;
        width: 22%;
    }
    100% {
        transform: translate(0,25px);
        opacity: 0.9;
        width: 21.5%;
    }
}

.fuwafuwa3 img{
    animation-name: fuwafuwa3Anime;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
}

@keyframes fuwafuwa3Anime {
    0% {
        transform: translate(0,5px);
        opacity: 1;
        width: 22%;
    }
    50%{
        width: 22.5%;
    }
    100% {
        transform: translate(0,-5px);
        opacity: 0.9;
        width: 22%;
    }
}
